    <%= form_with(model: @user, url: signup_path , local: true) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <p>
         <%= f.label :first_name %>
         <%= f.text_field :first_name, class: 'form-control' %>
     </p>
      <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </p>
      <p>
         <%= f.label :phone_number %>
         <%= f.text_field :phone_number, class: 'form-control' %>
      </p>
       <p>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </p>
      <p>
      <%= f.label :confirm_password %>
      <%= f.password_field :password_confirmation, class: 'form-control'%>
      </p>
      <p>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      </p>
    <% end %>