<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p>Email: <%=@user.email %>  Phone Number:    <%=@user.phone_number %></p>
<p>Question(<%= @user.questions.size %>) Answers(<%= @user.answers.size %>)</p>
<%= render 'questions/userquestion' %>
