<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p>Email: <%=@user.email %>  Phone Number:    <%=@user.phone_number %></p>
<p>Question(<%= @user.questions.size %>) Answers(<%= @user.answers.size %>)</p>
<%= render 'questions/userquestion' %>
