
<h1>
<%= render plain: @question.question %> </h1>
  <br>
<h4>
  tags :
<%@question.tags.each do |tag| %>
    <%= tag.tag_name+",  " %>
    <% end%>
</h4>
<br>
<% if logged_in? && @question.user_id==current_user.id %>
  <%= link_to "Edit", edit_question_path(id:@question.id)%>
  <%= link_to "Delete", question_path(@question.id), method: :delete, data: {confirm: "are you sure?"}%>
<%end %>

<br>
<% upvote = @question.votes.where(vote_type:1).count%>
<% downvote = @question.votes.where(vote_type:-1).count%>
<% vote_count = upvote-downvote %>
<h3>vote count   :<%= render plain: vote_count %></h3>

<tr>
  <td> <%= link_to "upvote",{ controller:'votes',action:'create', voteable_id:@question.id, voteable_type:"Question", vote_type:1, question_id:@question.id}, method: :post %></td>
  <br>
  <td> <%= link_to "down vote",{ controller:'votes',action:'create', voteable_id:@question.id, voteable_type:"Question",vote_type:-1,question_id:@question.id}, method: :post %></td>
  <br>
</tr>

<h3>comments</h3>
<% @question.comments.each do |comment| %>
  <tr>
    <td>comment:    <%= comment.comment %></td>
    <br>
  </tr>
<% end %>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:addComment, url:addComment_path) do |f| %>
      <%= f.hidden_field :commentable_type, value:"Question" %>
      <%= f.hidden_field :commentable_id, value:@question.id %>
      <%= f.hidden_field :ques_id, value:@question.id %>
      <%= f.text_field :comment, class: 'form-control' %>
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>
<h3>Answers</h3>
<% @question.answers.all.each do |ans| %>
  <br>
  <tr>
    <td><b>Answer: </b><%= ans.answer %></td>
    <br>
    <% upvote = ans.votes.where(vote_type:1).count%>
    <% downvote = ans.votes.where(vote_type:-1).count%>
    <% vote_count = upvote-downvote %>
    <h3>counts   :<%= render plain: vote_count%></h3>

  <tr>
    <td> <%= link_to "upvote",{ controller:'votes',action:'create', voteable_id:ans.id, voteable_type:"Answer", vote_type:1, question_id:@question.id}, method: :post %></td>
    <td> <%= link_to "down vote",{ controller:'votes',action:'create', voteable_id:ans.id, voteable_type:"Answer",vote_type:-1, question_id:@question.id}, method: :post %></td>
    <br>
  </tr>
    <td>
    <% if ans.status=="accepted" %>
      <%= render plain: "Accepted" %>
    <%end %>
     </td>
    <td>
      <% if logged_in? && @question.user_id==current_user.id %>
        <%= link_to "Accept it",{ controller:'answer',action:'acceptAnswer', id: ans.id, question_id:@question.id} %>
      <%end %>
    </td>
    <br>
    <br>
    <% ans.comments.all.each do |comment| %>
    <tr>
      <td><b>comments:     </b><%= comment.comment %></td>
      <br>
    </tr>
    <br>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:addComment, url:addComment_path) do |f| %>
        <%= f.hidden_field :commentable_type, value:"Answer" %>
        <%= f.hidden_field :commentable_id, value:ans.id %>
        <%= f.hidden_field :ques_id, value:@question.id %>
        <%= f.text_field :comment, class: 'form-control' %>
        <%= f.submit "Add Comment", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  </tr>
<% end %>
<br>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:addAnswer, url:addAnswer_path) do |f| %>
      <%= f.hidden_field :ques_id, value:@question.id %>
      <%= f.text_field :answer, class: 'form-control' %>
      <%= f.submit "Add answer", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
