
<p>
  <%= render 'question/askquestions' %>
</p>
<p>
  <%= render 'question/search' %>
</p>


<% @questions.each do |ques| %>
  <tr>
    <td><%= link_to ques.question, { controller:'question',action:'show', id: ques.id} %></td>
    </br>
    <!--        <td><%#= link_to 'Show', user %></td>-->
    <!--        <td><%#= link_to 'Edit', edit_user_path(user) %></td>-->
    <!--    <td><%#= %></td>-->
  </tr>
<% end %>
<% if logged_in? %>
<p>
  <%= link_to "Profile", user_path(current_user.id) %>
</p>
<p>
  <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
</p>
<p>
  <%= link_to "Logout", logout_path %>
</p>
<%end %>