<header class="">
  <div class="container">
    <h1>
    <%= link_to "StackOverFlow", root_path, id:"logo" %>
    </h1>
    <nav>
      <ul class="header">
        <% if logged_in? %>
          <%= link_to "Profile", user_path(current_user.id) %>&emsp;
          <%= link_to "Edit Profile", edit_user_path(current_user.id) %>&emsp;
          <%= link_to "Users", users_path %>&emsp;
          <%= link_to "Logout", logout_path %>&emsp;
        <% else %>
          <%= link_to "Log in", login_path %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>